test-cases/master/indirectXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Define named types for simple constraints -->
  <xs:simpleType name="alphaString">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]+"/>
      <xs:minLength value="2"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="positiveInt">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="zipCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="phoneNum">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-\d{2}-\d{2}-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="teamColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Blue"/>
      <xs:enumeration value="Red"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Define named type for address -->
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="alphaString"/>
      <xs:element name="state" type="alphaString"/>
      <xs:element name="zip" type="zipCode"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Define named type for person -->
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element name="firstname" type="alphaString"/>
      <xs:element name="Dob" type="xs:date"/>
      <xs:element name="age" type="positiveInt"/>
      <xs:element name="address" type="addressType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="phone" type="phoneNum"/>
      <xs:element name="team" type="teamColor"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="id2" type="xs:string" use="required"/>
  </xs:complexType>
  
  <!-- Use named type for person element -->
  <xs:element name="person" type="personType"/>

</xs:schema>
