evaluation/xsd_test/person/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstname">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z]+"/>
                    <xs:minLength value="2"/>
                    <xs:maxLength value="99"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lastname" minOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z]+"/>
                    <xs:minLength value="2"/>
                    <xs:maxLength value="99"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Dob" type="xs:date" maxOccurs="1" />
              <xs:element name="age">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="200"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="street" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element name="zip" type="xs:string" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="phone">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{3}-\d{2}-\d{2}-\d{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="team">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Blue"/>
                    <xs:enumeration value="Red"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="id2" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
